.vscode/**
.vscode-test/**
src/**
out/**
.gitignore
.yarnrc
.editorconfig
.changeset/**
.github/**
.husky/**
node_modules/**
pnpm-lock.yaml
package-lock.json
yarn.lock
webpack.config.js
esbuild.config.js
tsconfig.json
.eslintrc.json
.eslintignore
biome.json
lint-staged.config.js