.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
.changeset/**
.github/**
.husky/**
node_modules/**
pnpm-lock.yaml
package-lock.json
yarn.lock
webpack.config.js
**/*.map
**/*.ts
tsconfig.json
.eslintrc.json
.eslintignore